body {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-weight: bold;
  color: #112d4e;
}

h1 {
  font-size: 3rem;
  line-height: 1.5;
}

p {
  color: #3f72af;
}

#title {
  background-color: #dbe2ef;
  text-align: left;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.link-button {
  margin: 5% 3% 5% 0;
}

#skills {
  padding: 2% 15%;
}

.skill-row {
  padding: 5%;
}

.left-cloud {
  position: absolute;
  width: 160px;
  right: 40%;
}

.right-cloud {
  position: absolute;
  width: 180px;
  right: 20%;
}

.icon {
  color: #112d4e;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #3f72af;
}

#skills h2 {
  font-weight: bolder;
  font-size: 300%;
}

#testimonials {
  background-color: #dbe2ef;
}

.testimonials-image {
  border-radius: 50%;
}

.carousel-item {
  padding: 2% 15%;
  background-color: #dbe2ef;
  height: fit-content;
}

.carousel-item h2 {
  line-height: 3;
  font-weight: bolder;
  font-size: 2.5rem;
}

.carousel-item p {
  line-height: 1.5;
  font-size: 1.2rem;
}

#footer {
  padding: 1% 15%;
  background-color: #dbe2ef;
}

#footer a {
  padding: 1% 2%;
}

#footer p {
  line-height: 2;
  font-weight: bolder;
}

#cards {
  padding: 2% 15%;
}

#contact-form {
  padding: 2 15% 5% 15%;
  background-color: #112d4e;
  color: #fff;
  text-align: left;
}

#contact-form h1 {
  font-weight: bold;
  text-align: center;
  padding: 5% 0;
  color: #fff;
}

#contact-form .submit-btn {
  padding: 5% 0;
  text-align: center;
}
